*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Dancing Script', cursive;
    margin: 2px;
    padding:2px;
    background: url("../images/bg4.webp") right no-repeat;
    
}

h1{
    text-align: center;
    justify-content: center;
    display: flex;
}

.first{
    font-family: 'Indie Flower', cursive;
    justify-content: center;
    margin:4px;
    padding:2px;
}

.second{
    display: block;
    border:none;
    margin:4px;

}
.butn{
    position: relative;
    left:3%;
    padding:2px;
    border:none;
    z-index:2px;
    transition: 0.6s ease-in;
}
.butn:hover{
    color:green;
    z-index:4px;
    transition: scale(20px,30px);

}
